version: '3'
services:
  dev-db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
  dev-redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    environment:
      - REDIS_REPLICATION_MODE=master
